.p{
    text-align:center ;
    background-color:#fb8710;
    height:300px;
    width:230px;
    Border:0;
    color:#FFFFFF;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    border-color:#FF0000;
    font-size:50px;
}
.op{
  width:464px;
  background-color:#A9A9A9;
}
.oop{
  
  background-color:#A9A9A9;
  
}
button{
    text-align:center ;
    background-color:#c8c9cb;
    height:300px;
    width:230px;
    Border:0;
    color:#27282a;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    
    font-size:50px;
}
body{
  background-color:#202020;
}


textarea{
    height:300px;
    color:#FFFFFF;
    width:700px;
    background-color:#202020;
    Border:0;
    font-size:60px;
}