body{
  border: 0px;
  padding: 0px;
  margin:5px;
}
div.top {
  height: 0.1vh;
  width: 96vw;
  text-align: right;
  color: red;
}

div.second {
  height: 10vh;
}

img {
  float: left;
  overflow: hidden;
  height: 10vh;
  width: 15vw;
}

h1 {
  float: right;
  overflow: hidden;
  margin-right: 10vw;
}

div.scorecard {
  background-color: grey;
  border: 1px solid white;
  padding: 1vh;
  text-align: center;
  width: 43vw;
  float: left;
}

div.overview {
  background-color: grey;
  padding: 1vh;
  border: 1px solid black;
  text-align: center;
  width: 43vw;
  float: right;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}#root{
  height: 15vh;
  overflow: hidden;
}
#border{
  width: 49vw; 
  border-right: 0.001vw solid white;
  float: left;
  overflow: hidden;
 
}

#ball p{
  display: inline;
  padding-left: 10px;
}
#border p {
  

}
#border2{
  
  text-align: center;
  overflow: hidden;
}
#ball{
  background-color: rgb(133, 8, 8);
  padding:3vh;
  color: white;
  text-align: left;
}
#ball p{
  margin-left: 10vw;
}
body{
  text-align: center;
  
}

.one{

}
button{
  background-color: white;
  border: 1px solid rgb(133, 8, 8);
  color: rgb(133, 8, 8);
}
